<div class="message">
<li class="media">
  <div class="media-left">
    <div class="pull-left">
      <%= image_tag message.user.icon_path, size:'40x40', class:'media-object img-circle' %>
    </div>
  </div>
  <div class="media-body">
    <p class="message-header">
      <span>
        <strong><%= message.user.name %></strong>
        <small class="relative-timestamp"><%= l(message.created_at, format: :messages) %></small>
      </span>
    </p>
    <p class="message-content">
      <% if message.text %>
      <span><%= message.text %></span>
      <% else %>
      <span><%= image_tag asset_path(File.join('images', 'stamps', message.stamp)), size:'150x150', class:'img-responsive' %></span>
      <% end %>
    </p>
  </div>
</li>
</div>
