<div class="navbar navbar-default navbar-header navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <span>とりりん<%= fa_icon :star %>チャット</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="room-list">
    <% @rooms.each do |room| %>
    <li>
      <%= link_to room do %>
      <p class="room-list-item-heading">
        <%= fa_icon :comments %>
        <span class="title"><%= room.name %></span>
        <span class="badge"><%= room.messages.size %></span>
      </p>
      <hr>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
