<div id="rooms-index">
  <div class="navbar navbar-default navbar-header navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">
          <span>とりりん<%= fa_icon :star %>チャット</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="user">
      <h1><%= fa_icon :user %>ユーザ</h1>
      <div class="media">
        <div class="media-left">
          <div class="pull-left">
            <% if current_user %>
            <%= image_tag current_user&.icon, size:'40x40', class:'media-object img-circle user icon' %>
            <% else %>
            <%= image_tag 'icons/blank.png', size:'40x40', class:'media-object img-circle user icon', style:'opacity:0.2;' %>
            <% end %>
          </div>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><span class="user name"><%= current_user&.name %></span></h5>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#user-modal">
            変更
          </button>
        </div>
      </div>
    </div>
    <h1><%= fa_icon :comments %>チャットルーム</h1>
    <ul class="room-list">
      <% @rooms.each do |room| %>
      <li>
        <%= link_to room do %>
        <p class="room-list-item-heading">
          <%= fa_icon :comments %>
          <span class="title"><%= room.name %></span>
          <span class="badge"><%= room.messages.size %></span>
        </p>
        <hr>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <footer class="footer">
    <div class="container">
      <ul>
        <li><%= link_to 'このアプリについて', about_path %></li>
        <li><%= fa_icon :star %></li>
        <li><%= link_to '運営者・お問い合わせ', about_path(anchor:'contact') %></div>
      </li>
    </ul>
  </div>
</footer>

<div class="modal fade" id="user-modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><%=t '.users.new.title'%></h1>
      </div>
      <%= form_for(current_user || User.new, remote:true, format:'json') do |f| %>
      <div class="modal-body">
        <div class="form-group form-group-sm">
          <%= f.label :name, class:'control-label' %>
          <%= f.text_field :name, class:'form-control input-sm' %>
        </div>
        <div class="form-group form-group-sm">
          <%= f.label :icon, class:'control-label' %>
          <%= f.hidden_field :icon %>
          <ul class="animal-list">
            <% ('01'..'16').to_a.each do |n| %>
            <li>
              <% src = "icons/animal-#{n}.png" %>
              <%= image_tag src, size:'40x40', class:'media-object img-circle', 'data-path':src %>
            </li>
            <% end %>
          </ul>
          <div style="clear:both;"></div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class:'btn btn-sm btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
