<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to t('back'), root_path, class:'fa-before fa-chevron-left' %></li>
      </ul>
      <div class="navbar-brand">
        <span><%= t('toririn') %><%= fa_icon :star %><%= t('chat') %></span>
      </div>
    </div>
  </div>
</nav>
<article class="container">
  <section>
    <div id="user">
      <h1 class="fa-before fa-user"><%= t('user') %></h1>
      <div class="media">
        <div class="media-left">
          <div class="pull-left">
            <% if current_user %>
            <%= image_tag current_user&.icon_path, size:'40x40', class:'media-object img-circle user icon' %>
          <% else %>
            <%= image_tag 'icons/blank.png', size:'40x40', class:'media-object img-circle user icon', style:'opacity:0.2;' %>
            <% end %>
          </div>
        </div>
        <div class="media-body">
          <h5 class="media-heading">
            <span class="user name"><%= current_user&.name %></span>
          </h5>
          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#users">
            <span>変更</span>
          </button>
          <%= link_to t('.logout'), logout_path, method: :delete, class:'btn btn-primary btn-sm', remote:true, id:'logout' %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h1 class="fa-before fa-comments"><%= t('chatroom') %></h1>
    <ul class="rooms">
      <% @rooms.each do |room| %>
      <li>
        <%= link_to room do %>
        <p class="room-list-item-heading">
          <span class="title fa-before fa-comments"><%= room.name %></span>
          <span class="badge"><%= room.messages.size %></span>
        </p>
        <hr>
        <% end %>
      </li>
      <% end %>
    </ul>
  </section>
</article>
<footer class="footer">
  <div class="container">
    <ul>
      <li><%= link_to t('about'), about_path %></li>
      <li><%= fa_icon :star %></li>
      <li><%= link_to t('authors'), about_path(anchor:'contact') %>
      </li>
    </ul>
  </div>
</footer>

<div class="modal fade" id="users" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><%=t '.users.new.title'%></h1>
      </div>
      <%= form_for(current_user || User.new, remote:true, format:'json') do |f| %>
      <div class="modal-body">
        <div class="form-group form-group-sm">
          <%= f.label :name, class:'control-label' %>
          <%= f.text_field :name, class:'form-control input-sm' %>
        </div>
        <div class="form-group form-group-sm">
          <%= f.label :icon, class:'control-label' %>
          <%= f.hidden_field :icon %>
          <div class="gallery">
            <div class="container-fluid">
              <div class="row-fluid">
                <% Dir.glob("public/images/icons/**/*.png").shuffle.each do |file_path| %>
                <% name = File.basename(file_path) %>
                <% src = File.join('icons', name) %>
                <div class="col col-xs-3">
                  <%= image_tag src, class:'img-responsive img-circle', 'data-name':name %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class:'btn btn-sm btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
