<div id="params" data-user-id="<%= current_user&.id %>" data-room-id="<%= @room.id %>"></div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to rooms_path do %>
          <%= fa_icon 'chevron-left' %>
          <span>戻る</span>
          <% end %>
        </li>
      </ul>
      <div class="navbar-brand">
        <span><%= @room.name %></span>
      </div>
    </div>
  </div>
</nav>
<article class="container">
  <section>
    <ul class="media-list messages" id="messages">
      <%= render @room.messages.includes(:user) %>
    </ul>
  </section>
</article>
<footer class="footer">
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control input-sm" id="text">
      <span class="input-group-btn">
        <button class="btn btn-sm btn-primary" type="button" id="button">
          <%= fa_icon 'pencil' %>
        </button>
      </span>
    </div>
  </div>
</footer>
