<div id="params" data-user-id="<%= current_user&.id %>" data-room-id="<%= @room.id %>"></div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to t('back'), rooms_path, class:'fa-before fa-chevron-left' %></li>
      </ul>
      <div class="navbar-brand">
        <span><%= @room.name %></span>
      </div>
    </div>
  </div>
</nav>
<article class="container">
  <section>
    <ul class="media-list messages" id="messages">
      <%= render @room.messages.includes(:user) %>
    </ul>
  </section>
</article>
<footer class="footer">
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control input-sm" id="text" autocomplete="off">
      <span class="input-group-btn">
        <button class="btn btn-sm btn-primary" id="button">
          <%= fa_icon 'pencil' %>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#stamps">
          <%= fa_icon 'smile-o' %>
        </button>
      </span>
    </div>
  </div>
</footer>
<div class="modal fade" id="stamps" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h1 class="modal-title"><%= t('stamps') %></h1>
      </div>
      <div class="modal-body">
        <div class="gallery">
          <div class="container-fluid">
            <div class="row-fluid">
              <% Dir.glob("public/images/stamps/**/*.png").each do |file_path| %>
              <% name = File.basename(file_path) %>
              <% src = File.join('stamps', name) %>
              <div class="col col-xs-3">
                <%= image_tag src, class:'img-responsive img-rounded', 'data-name':name %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
