<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to 'とりりんチャット', root_path, class:'navbar-brand' %>
    <p class="navbar-text">
      <%= fa_icon 'angle-double-right' %><%= @room.name %>
    </p>
  </div>
</div>

<div class="container">
  <ul class="media-list" id="messages">
    <%= render @room.messages %>
  </ul>
</div>

<footer class="footer">
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control input-sm" id="text">
      <span class="input-group-btn">
        <button class="btn btn-sm btn-primary" type="button" id="button">
          <%= fa_icon 'envelope-o' %>
        </button>
      </span>
    </div>
  </div>
</footer>
