<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to rooms_path do %>
          <%= fa_icon 'chevron-left' %>
          <span>戻る</span>
          <% end %>
        </li>
      </ul>
      <div class="navbar-brand">
        <span>このアプリについて</span>
      </div>
    </div>
  </div>
</nav>
<article class="container">
  <section>
    <h1>このアプリについて</h1>
    <p>このアプリは<%= link_to 'JSPS科研費16K01114', 'https://kaken.nii.ac.jp/ja/grant/KAKENHI-PROJECT-16K01114/', target:'_blank' %>「疑似SNSを利用した実践的情報モラル教育法の開発と評価に関する研究」の助成の一部を受けて研究・開発しています。</p>
  </section>
  <section>
    <h1 id="contact">運営者・お問い合わせ先</h1>
    <p>準備中です。</p>
  </section>
  <section>
    <h1 id="application">アプリの改善案・バグ報告等</h1>
    <p><%= link_to 'GitHub:mh61503891/toririn-chat', 'https://github.com/mh61503891/toririn-chat', target:'_blank' %>のIssues等までお願いいたします。</p>
  </section>
  <section>
    <h1 id="libraries">利用ライブラリ</h1>
    <p>ユーザアカウントのデフォルトアイコンは<%= link_to 'Freepik', 'http://www.freepik.com/', target:'_blank' %>のデザインによるものです。</p>
  </section>
</article>
