<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to '戻る', rooms_path, class:'fa-before fa-chevron-left' %></li>
      </ul>
      <div class="navbar-brand">
        <span>このアプリについて</span>
      </div>
    </div>
  </div>
</nav>
<article class="container">
  <section>
    <h1>このアプリについて</h1>
    <p>このアプリは<%= link_to 'JSPS科研費16K01114', 'https://kaken.nii.ac.jp/ja/grant/KAKENHI-PROJECT-16K01114/', target:'_blank' %>「疑似SNSを利用した実践的情報モラル教育法の開発と評価に関する研究」の助成の一部を受けて研究・開発しています。</p>
  </section>
  <section>
    <h1 id="contact">運営者・お問い合わせ先</h1>
    <p>準備中です。</p>
  </section>
  <section>
    <h1 id="application">アプリの改善案・バグ報告等</h1>
    <p><%= link_to 'GitHub:mh61503891/toririn-chat', 'https://github.com/mh61503891/toririn-chat', target:'_blank' %>のIssues等までお願いいたします。</p>
  </section>
  <section>
    <h1 id="libraries">利用ライブラリ</h1>
    <p>ユーザアカウントのデフォルトアイコンには「みふねたかし」氏による「<%= link_to 'いらすとや', 'http://www.irasutoya.com/', target:'_blank' %>」のイラストを<%= link_to 'ご利用規定', 'http://www.irasutoya.com/p/terms.html', target:'_blank' %>に基づき使用させて頂いております。</p>
    <p>スタンプには「rubicle-net 制作スタッフ＆うー」による「<%= link_to 'るびくるLINEスタンプ', 'http://rubicle.net/line_stamp.html', target:'_blank' %>」を<%= link_to 'CC BY-NC 4.0', 'http://creativecommons.org/licenses/by-nc/4.0/deed.ja', target:'_blank' %>に基づき使用させて頂いております。</p>
  </section>
</article>
