<% require 'devise/version' %>
<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.instruction') %></p>

<% target_url = root_url(reset_password_token: @token, format:nil) %>
<p><%= link_to target_url, target_url %></p>
<!-- TODO  -->
<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
